<html>
	<head>
		<title>Client</title>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type = "text/javascript" language = "javascript">
         $(document).ready(function() {
            $('#add-button').click(function(event){
               $('#transaction-add-form').toggle();
               $('#name').focus();
            });
            $('#transaction-add-form').submit(function(event){
				$.post('../sub', { name: $('#name').val(), amount: $("#amount").val(), category_id: $('#category option:selected').val() })
            	.done(function( data ) {
    			alert( "Data Loaded: " + data );
  				});
            });
            $('#transaction-submit').click(function(event){
            	event.preventDefault();
            	if($('#amount').val()==""){
            		$('#amount').focus();
            	}
            	else{
            		$('#transaction-add-form').submit();
            	}
            });
         });
      </script>
      <style type="text/css">
      #category {
		width: 170px;
		font-size:50px;
      }
      .action-container {
      	float:right;
      }
      .transaction-container {
      	width: 50%;
      	float:left;
      	margin-left:50px;
      }
      .navbar-fixed-top {
      	position:relative;
      }
      </style>
	</head>
	<body>
		<div class = "maincontainer" style="block">
			<div class = "navbar navbar-inverse navbar-fixed-top">
				<div class="container">
			        <div id="navbar" class="collapse navbar-collapse">
			          <ul class="nav navbar-nav">
			            <li class="active"><a href="#">Home</a></li>
			            <li><a href="admin">Admin</a></li>
			            <li><a href="contact">Contact</a></li>
			          </ul>
			        </div>
		      	</div>
	  		</div>
			<div class = "container">
		  		<div class = "action-container">
					<button type="button" id="add-button" class="btn btn-primary">Add Expense</button>
					<form id="transaction-add-form" class =".form-inline" style="display: none;">
						<label for="name">Name:</label><input type="text" class="form-control" id="name"><br />
						<label for="amount">Amount<input type="text" class="form-control" id="amount"><br />
						<select id = "category">
							{% for i in categories %}
							<option value = "{{i.id}}"> {{i.name}}</option>
							{% endfor %}
						</select>
						<br /><br />
						<button type="submit" id="transaction-submit" class="btn btn-default">Submit</button>
					</form>
				</div>

				<div class = "transaction-container">
					{% for i in transactions %}
						<div class ="row">
						{{ i.name }}  {{ i.amount}} <br/>
						</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>