<html>
  <head>
    <title>login page</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" style="display: flex;justify-content: space-around;">
      <div class="old-login" style="display:none">
        <h1>Please login</h1>
      <br>
      <form action="" method="post">
	      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      </div>

      <div id="gsign-in" >
        <p>
        <a href={{ url_for('oauth_authorize', provider='google') }}><img src="{{ url_for('static', filename='images/sign-in-with-google.png') }}" /></a>
      </div>

    </div>
  </body>
</html>
