<html>
  <head>
    <title>signup page</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Signup</h1>
      <br>
      <form action="" method="post">
	    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
        <input type="text" placeholder="Email" name="email" value="{{
          request.form.email }}">
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="signup">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
